[Desktop Entry]
Version=1.0
Name=Movies
Comment=Movies
Exec=magikos-launch-webapp https://www.streamxtv.tech
Terminal=false
Type=Application
Icon=movies
StartupNotify=true